body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 300px;
	margin-right: 300px;
}

footer, figure{
    color: #00A36C;
    text-align: center;
}

header{
    color: #00A36C;
	text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.25;
}

hr.solid {
    height: 3px;
    background-color: #333;
    border: none;
}


#listelements li {
    list-style-type: circle;
}

a{
    text-decoration: none;
    color: #00A36C;
}

ul{
    list-style-position: inside;
}

.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a { 
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #00A36C;
    color: black;
}

.wireframe-image {
    width: 1000px;
    border-color: #00A36C;
    border-width: 3px;
    border-style: solid;
    border-radius: 0%;
}

figcaption{
    color: white;
}