head{
    color: white;
}

body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    color: white;
}

.profile-image {
    width: 300px;
}