body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 300px;
	margin-right: 300px;
}

footer, figure, header{
    color: #00A36C;
    text-align: center;
}

h2 {
    color: #00A36C;
    text-align: center;
}

a{
    text-decoration: none;
    color: #00A36C;
}

ul{
    list-style-position: inside;
}

.calculatorTry {
    padding: 10px;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #333;
}

.buttonTry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    border: solid black 0.5px;
    width: 100%;
    height: 100%;
    outline: none;
}

.buttonTopTry{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(160, 158, 158);
    color: black;
    border: solid black 0.5px;
    width: 100%;
    height: 100%;
    outline: none;
}

.equalsTry{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00A36C;
    color: black;
    width: 100%;
    height: 100%;
    outline: none;
}

.displayTry{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: right;
    border: solid black 0.5px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.nav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
  
.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}
  

.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #00A36C;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}