body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 300px;
	margin-right: 300px;
}

figure{
    margin: auto;
}

footer{
    color: #00A36C;
    text-align: center;
}

header{
    color: #00A36C;
	text-align: center;
}

th, h3{
    color: #00A36C
}

table.table1, table.table2, th, td {
    border: 1px solid white;
}
table.table2 tr:nth-child(1) {
    background-color: #043f2b;
}

table.table2 tr:nth-child(even) {
    background-color: #00a36d2f;
}

a{
    text-decoration: none;
    color: #00A36C;
}

ul{
    list-style-position: inside;
}

.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a { 
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #00A36C;
    color: black;
}
